body {
    background-color: #E2E6F0;
}
.container {
    background-color: #E4FD64;
}

#wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
.titleBack {
  background-color: #3A61CA;
}
#articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
        background-color: 	
        #E8F290;
      }
#notes {
        float: right;
        width: 30%;
      }
textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
input {
        height: 36px;
        font-size: 24px;
      }
textarea {
        height: 200px;
        font-size: 18px;
      }
#title {
    color: #C9DC1C;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;

}
.titleArea {
    margin: 50px;
    margin-bottom: 15px;
}
p {
    color: #130421;
    font: bolder;
}
.tire-title {
  font-size: 20px;
  font-style: oblique;
}
.price {
  color: green;
}
